<div class="m-2 p-2">
    <div class="d-flex justify-content-center">
        <img src="/assets/images/banner.jpg" class="img-fluid" style="height: 350px;">
    </div>
    <hr>
    <div class="container mt-4 mb-4 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <img src="/assets/images/1.jpg" class="img-fluid" style="max-height: 200px; max-width: 100px;">
                    </div>
                    <div class="row">
                        <p>El Conde de Montecristo</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container ">
                    <div class="row">
                        <img src="/assets/images/2.jpg" class="img-fluid" style="max-height: 200px; max-width: 100px;">
                    </div>
                    <div class="row">
                        <p>El Principito</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <img src="/assets/images/5.jpg" class="img-fluid" style="max-height: 200px; max-width: 100px;">
                    </div>
                    <div class="row">
                        <p>La divina comedia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>