<div class="m-2 p-2">
    <div class="container">
        <div class="row mt-2">
            <div class="col m-2">
                <h5>Escribemos</h5>
                <div class="mt-4">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Asunto">
                            </div>
                        </div>
                        <div class="row mt-4 p-2">
                            <textarea class="form-control" rows="6" placeholder="Mensaje">
                            </textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col m-2">
                <h5>Oficinas</h5>
                <div class="mt-4">
                    <p>Calzada de San Juan #140 Villas de San Juan, León, Guanajuato</p>
                    <br>
                    <p>Conmutador: (477) 4848 45 45</p>
                    <br>
                    <p>Atención al cliente: (477) 5858 69 69</p>
                    <br>
                    <p>contactogmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>