<header class="header">
  <div class="text-center p-s">
      <h2 class="header-primary">
          <span>La tienda de Angu</span>
      </h2>
  </div>
</header>
<nav class="navbar navbar-expand-lg  m-2 p-2 border">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalogo">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
<footer>
  <div class="container d-flex justify-content-center">
    <p>La tienda de Angu
      <br>
      contacto&commat;gmail.com
      <br>
      (477) 5858 69 69
    </p>
  </div>
</footer>
